- hosts: dns
  become: true
  tasks:
    - name: actualizar repositorio apt
      apt:
        update_cache: yes
    - name: instalar dnsmasq
      apt:
        name: dnsmasq
        state: present

    - name: registros dns www
      lineinfile:
        path: /etc/dnsmasq.conf
        insertafter: EOF
        line: "address=/www.patitohosting.licic/192.168.56.101"

    - name: registros dns db
      lineinfile:
        path: /etc/dnsmasq.conf
        insertafter: EOF
        line: "address=/db.patitohosting.licic/192.168.56.102"

    - name: registros dns email
      lineinfile:
        path: /etc/dnsmasq.conf
        insertafter: EOF
        line: "address=/email.patitohosting.licic/192.168.56.104"

    - name: registros dns ns
      lineinfile:
        path: /etc/dnsmasq.conf
        insertafter: EOF
        line: "address=/ns.patitohosting.licic/192.168.56.103"

    - name: reiniciar dnsmasq
      service:
        name: dnsmasq
        state: restarted

