- hosts: email
  become: true
  tasks:
    - name: actualizar repositorio apt
      apt:
        update_cache: yes

    - name: instalar postfix, dovecot, clamav, spamassassin, snmp
      apt:
        name:
          - postfix
          - dovecot-core
          - dovecot-ldap
          - dovecot-imapd
          - dovecot-pop3d
          - clamav
          - spamassassin
          - snmpd
        state: present

    - name: configurar dnns 
      copy:
        dest: /etc/resolv.conf
        content: |
          search patitohosting.licic
          nameserver 192.168.56.103
          nameserver 8.8.8.8

    - name: configurar postfix 
      debconf:
        name: postfix
        question: postfix/main_mailer_type
        value: "Internet Site"
        vtype: select

    - name: configurar postfix 
      debconf:
        name: postfix
        question: postfix/mailname
        value: patitohosting.licic
        vtype: string

    - name: reiniciar postfix
      service:
        name: postfix
        state: restarted

    - name: generar certificado ssl para correo
      command: openssl req -new -x509 -days 365 -nodes -out /etc/ssl/certs/email.patitohosting.licic.crt -keyout /etc/ssl/private/email.patitohosting.licic.key -subj "/C=US/ST=Denial/L=Xalapa/O=Dis/CN=email.patitohosting.licic"
      args:
        creates: /etc/ssl/certs/email.patitohosting.licic.crt

    - name: configurar postfix tls y sasl en main.cf
      blockinfile:
        path: /etc/postfix/main.cf
        block: |
          myhostname = email.patitohosting.licic
          mydomain = patitohosting.licic
          myorigin = /etc/mailname
          smtpd_sasl_type = dovecot
          smtpd_sasl_path = private/auth
          smtpd_sasl_auth_enable = yes
          smtpd_tls_cert_file = /etc/ssl/certs/email.patitohosting.licic.crt
          smtpd_tls_key_file = /etc/ssl/private/email.patitohosting.licic.key
          smtpd_use_tls = yes
          smtpd_tls_security_level = may

    - name: configurar dovecot (imap, pop3 con ssl)
      blockinfile:
        path: /etc/dovecot/dovecot.conf
        block: |
          protocols = imap pop3
          ssl = required
          ssl_cert = </etc/ssl/certs/email.patitohosting.licic.crt
          ssl_key = </etc/ssl/private/email.patitohosting.licic.key
      notify: reiniciar dovecot

    - name: habilitar autenticacion ldap en dovecot
      lineinfile:
        path: /etc/dovecot/conf.d/10-auth.conf
        regexp: '^#!include auth-ldap.conf.ext'
        line: '!include auth-ldap.conf.ext'
      notify: reiniciar dovecot

    - name: crear auth-ldap.conf.ext 
      copy:
        dest: /etc/dovecot/conf.d/auth-ldap.conf.ext
        content: |
          passdb {
            driver = ldap
            args = /etc/dovecot/dovecot-ldap.conf.ext
          }

          userdb {
            driver = ldap
            args = /etc/dovecot/dovecot-ldap.conf.ext
          }
      notify: reiniciar dovecot

    - name: crear dovecot-ldap.conf.ext (config real LDAP)
      copy:
        dest: /etc/dovecot/dovecot-ldap.conf.ext
        mode: '0640'
        owner: root
        group: dovecot
        content: |
          hosts = ldap.patitohosting.licic
          ldap_version = 3
          base = dc=patitohosting,dc=licic

          auth_bind = yes
          dn = administrator@PATITOHOSTING.LICIC
          dnpass = OkeGom333!

          user_filter = (&(objectClass=person)(sAMAccountName=%u))
          pass_filter = (&(objectClass=person)(sAMAccountName=%u))

          dnpass_attr = userPassword
      notify: reiniciar dovecot

    - name: configurar socket sasl para postfix en dovecot
      blockinfile:
        path: /etc/dovecot/conf.d/10-master.conf
        insertafter: 'service imap-login {'
        block: |
          unix_listener /var/spool/postfix/private/auth {
            mode = 0666
            user = postfix
            group = postfix
          }
      notify: reiniciar dovecot

    - name: habilitar spamassassin (spamd)
      systemd:
        name: spamd
        enabled: yes
        state: started

    - name: reiniciar spamassassin
      service:
        name: spamd
        state: restarted

  handlers:
    - name: reiniciar dovecot
      service:
        name: dovecot
        state: restarted

