- hosts: web
  become: true
  tasks:
    - name: actualiza repositorio apt
      apt:
        update_cache: yes
    - name: instalar apache2 php y dependencias
      apt:
        name:
          - apache2
          - libapache2-mod-php
          - php
          - php-mysql
          - php-ldap
          - unzip
          - wget
          - mariadb-client
        state: present

    - name: generar certificado ssl autofirmado
      command: openssl req -new -x509 -days 365 -nodes -out /etc/ssl/certs/www.patitohosting.licic.crt -keyout /etc/ssl/private/www.patitohosting.licic.key -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=www.patitohosting.licic"
      args:
        creates: /etc/ssl/certs/www.patitohosting.licic.crt

    - name: crear virtualhost apche
      copy:
        content: |
          <VirtualHost *:80>
            ServerName www.patitohosting.licic
            DocumentRoot /var/www/html/wordpress
          </VirtualHost>
          <IfModule mod_ssl.c>
          <VirtualHost *:443>
            ServerName www.patitohosting.licic
            DocumentRoot /var/www/html/wordpress
            SSLEngine on
            SSLCertificateFile /etc/ssl/certs/www.patitohosting.licic.crt
            SSLCertificateKeyFile /etc/ssl/private/www.patitohosting.licic.key
          </VirtualHost>
          </IfModule>
        dest: /etc/apache2/sites-available/www.patitohosting.licic.conf

    - name: habilitar virtualhost
      command: a2ensite www.patitohosting.licic.conf
      args:
        creates: /etc/apache2/sites-enabled/www.patitohosting.licic.conf

    - name: deshabilita virtualhost por defecto
      command: a2dissite 000-default.conf
      ignore_errors: yes

    - name: reiniciar apache
      service:
        name: apache2
        state: restarted

    - name: descargar Wwrdpress
      get_url:
        url: https://wordpress.org/latest.tar.gz
        dest: /tmp/latest.tar.gz

    - name: descomprime wordpress
      unarchive:
        src: /tmp/latest.tar.gz
        dest: /var/www/html/
        remote_src: yes

    - name: asignar permisos a wordpress
      file:
        path: /var/www/html/wordpress
        owner: www-data
        group: www-data
        recurse: yes

    - name: configurar wordpress
      shell: >
        cp /var/www/html/wordpress/wp-config-sample.php /var/www/html/wordpress/wp-config.php &&
        sed -i "s/database_name_here/wordpress/" /var/www/html/wordpress/wp-config.php &&
        sed -i "s/username_here/wp_user/" /var/www/html/wordpress/wp-config.php &&
        sed -i "s/password_here/wp_pass/" /var/www/html/wordpress/wp-config.php &&
        sed -i "s/'DB_HOST', 'localhost'/'DB_HOST', 'db.patitohosting.licic'/" /var/www/html/wordpress/wp-config.php

    - name: probar conexion a base de datos
      shell: mysql -h db.patitohosting.licic -u wp_user -pwp_pass -e "SELECT 1;"

