- hosts: ldap
  become: true
  tasks:
    - name: actualizar repositorio apt
      apt:
        update_cache: yes

    - name: instalar samba ad dc
      apt:
        name: samba-ad-dc
        state: present

    - name: asegurar resolv
      copy:
        dest: /etc/resolv.conf
        content: |
          nameserver 192.168.56.103
          nameserver 8.8.8.8
          search patitohosting.licic

    - name: configurar /etc/hosts
      copy:
        dest: /etc/hosts
        content: |
          127.0.0.1 localhost
          192.168.56.105 ldap.patitohosting.licic ldap

    - name: eliminar smb.conf anterior
      file:
        path: /etc/samba/smb.conf
        state: absent

    - name: detener servicios smb viejos
      service:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop:
        - smbd
        - nmbd
        - winbind

    - name: borrar pids de samba
      file:
        path: /run/samba
        state: absent

    - name: provisionar dominio ad con samba
      command: samba-tool domain provision --realm=PATITOHOSTING.LICIC --domain=PATITOHOSTING --adminpass=OkeGom333! --server-role=dc --dns-backend=SAMBA_INTERNAL
      args:
        creates: /var/lib/samba/private/sam.ldb

    - name: ajustar permisos de secrets.tdb
      file:
        path: /var/lib/samba/private/secrets.tdb
        mode: '0600'

    - name: iniciar servicio samba-ad-dc
      service:
        name: samba-ad-dc
        state: started
        enabled: yes

    - name: crear usuario ldap 'debian'
      command: samba-tool user create debian 'debian#2024!'

    - name: agrega usuario 'debian' a grupo 'users'
      command: samba-tool group addmembers users debian

    - name: instalar herramientas ldap
      apt:
        name: ldap-utils
        state: present

    - name: esperar a que ldap este escuchando
      wait_for:
        port: 389
        delay: 5
        timeout: 60

    - name: prueba ldapsearch
      shell: ldapsearch -LLL -H ldaps://127.0.0.1 \
        -D "administrator@PATITOHOSTING.LICIC" \
        -w "OkeGom333!" \
        -b "dc=patitohosting,dc=licic" "(sAMAccountName=debian)" \
        -o tls_reqcert=never
      register: ldapout


    - debug:
        var: ldapout.stdout_lines

