- hosts: web
  become: true
  handlers:
    - name: reiniciar apache
      service:
        name: apache2
        state: restarted

  tasks:
    - name: actualizar repositorios apt
      apt:
        update_cache: yes
    
    - name: instalar apache php y dependencias
      apt:
        name:
          - apache2
          - libapache2-mod-php
          - php
          - php-mysql
          - php-ldap
          - unzip
          - wget
          - vim
          - mariadb-client
          - ldap-utils  
        state: present
    
    - name: generar certificado ssl auto-firmado
      command: openssl req -new -x509 -days 365 -nodes -out /etc/ssl/certs/www.patitohosting.licic.crt -keyout /etc/ssl/private/www.patitohosting.licic.key -subj "/C=MX/ST=Denial/L=Xalapa/O=Dis/CN=www.patitohosting.licic"
      args:
        creates: /etc/ssl/certs/www.patitohosting.licic.crt
    
    - name: habilitar modulo rewrite
      command: a2enmod rewrite
      args:
        creates: /etc/apache2/mods-enabled/rewrite.load
    
    - name: habilitar ssl en apache
      command: a2enmod ssl
      args:
        creates: /etc/apache2/mods-enabled/ssl.load
    
    - name: crear virtualhost desde plantilla
      template:
        src: "web.templates/www.patitohosting.licic.conf"
        dest: /etc/apache2/sites-available/www.patitohosting.licic.conf
        mode: '0644'
        owner: root
        group: root
      notify: reiniciar apache
    
    - name: habilitar sitio virtual
      command: a2ensite www.patitohosting.licic.conf
      args:
        creates: /etc/apache2/sites-enabled/www.patitohosting.licic.conf
      notify: reiniciar apache
    
    - name: desactivar sitio por defecto
      command: a2dissite 000-default.conf
      ignore_errors: yes
      notify: reiniciar apache
    
    - name: descargar wordpress
      get_url:
        url: https://wordpress.org/latest.tar.gz
        dest: /tmp/latest.tar.gz
    
    - name: descomprimir wordpress
      unarchive:
        src: /tmp/latest.tar.gz
        dest: /var/www/html/
        remote_src: yes
    
    - name: configurar dns desde plantilla
      template:
        src: "web.templates/resolv.conf"
        dest: /etc/resolv.conf
    
    - name: esperar respuesta de base de datos
      wait_for:
        host: db.patitohosting.licic
        port: 3306
        timeout: 30
    
    - name: probar conexion con base de datos
      shell: mysql -h db.patitohosting.licic -u wordpress-user -p'Bl4ck-Kn1fe' -e "SELECT 1;"
    
    - name: descargar wp-cli
      get_url:
        url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
        dest: /usr/local/bin/wp
        mode: '0755'
    
    - name: asignar permisos al directorio
      file:
        path: /var/www/html/wordpress
        owner: www-data
        group: www-data
        mode: '0755'
        state: directory
    
    - name: configurar permisos de archivos wordpress
      shell: |
        find /var/www/html/wordpress -type f -exec chmod 644 {} \;
        find /var/www/html/wordpress -type d -exec chmod 755 {} \;
        chown -R www-data:www-data /var/www/html/wordpress
    
    - name: configurar wordpress
      shell: >
        cd /var/www/html/wordpress &&
        cp wp-config-sample.php wp-config.php &&
        sed -i "s/database_name_here/wordpress/" wp-config.php &&
        sed -i "s/username_here/wordpress-user/" wp-config.php &&
        sed -i "s/password_here/Bl4ck-Kn1fe/" wp-config.php &&
        sed -i "s/'DB_HOST', 'localhost'/'DB_HOST', 'db.patitohosting.licic'/" wp-config.php
  
    - name: ajustar permisos wp-config  
      file:
        path: /var/www/html/wordpress/wp-config.php
        owner: www-data
        group: www-data
        mode: '0640'
    
    - name: descargar plugin simple ldap login
      get_url:
        url: https://downloads.wordpress.org/plugin/simple-ldap-login.latest-stable.zip
        dest: /tmp/simple-ldap-login.zip
    
    - name: descomprimir plugin ldap
      unarchive:
        src: /tmp/simple-ldap-login.zip
        dest: /var/www/html/wordpress/wp-content/plugins/
        remote_src: yes
        owner: www-data
        group: www-data
    
    - name: instalar wordpress automaticamente
      shell: >
        cd /var/www/html/wordpress &&
        wp core install \
          --url="https://www.patitohosting.licic" \
          --title="Patito Hosting" \
          --admin_user="admin" \
          --admin_password="Bl4ck-Kn1fe" \
          --admin_email="admin@patitohosting.licic" \
          --skip-email \
          --allow-root   
      
    - name: activar plugin
      shell: >
        cd /var/www/html/wordpress &&
        wp plugin activate simple-ldap-login --allow-root

    - name: reiniciar apache final
      service:
        name: apache2
        state: restarted
      notify: reiniciar apache
